:root {
    --bs-primary: #343E3D;
    --bs-primary-rgb: 52, 62, 61;
    --bs-secondary: #607466;
    --bs-secondary-rgb: 96, 116, 102;
}

* {
    font-family: 'Fira Code', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}
